<article>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-7">
        <img src="assets/undraw_wait_in_line_o2aq.png" alt="" class="w-100 mt-4">
      </div>
      <div class="col-md-5" style="margin-top: 100px;">
        <h1 class="fw-bolder">SURATIN</h1>
        <h2 class="mt-4">Selamat Datang!</h2>
        <p>Suratin adalah aplikasi pencatatan surat masuk dan surat keluar, semua surat yang masuk
          ke perusahaan dapat diarsipkan dengan mudah.
        </p>
        <button class="btn btn-primary fw-bold mt-4" routerLink="/suratmasuk"> Mulai</button>
      </div>
    </div>
  </div>
</article>